{% extends "base.html" %}

{% block content %}
<h5 class="text-center">Medicine Management-View Medicines</h5>

<table class="table table-bordered mt-3">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Quantity</th>
            <th>Price</th>
            <th>Action</th>
        </tr>
    </thead>

    <tbody>
    </tbody>

    <tbody>
        {% for m in medicines %}
        <tr>
            <td>{{ m.id }}</td>
            <td>{{ m.name }}</td>
            <td>{{ m.quantity }}</td>
            <td>{{ m.price }}</td>
            <td>
                <a href="/edit_medicine/{{ m.id }}" class="btn btn-warning btn-sm">Edit</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}